.orange{ color:#ff5400;}
.blue{ color:#266ab4;}
.bold { font-weight:bold;}


.pdt1{ padding-top:1px;}
.pdt2{ padding-top:2px;}
.pdt3{ padding-top:3px;}
.pdt4{ padding-top:4px;}
.pdt5{ padding-top:5px;}
.pdt10{ padding-top:10px;}
.pdt15{ padding-top:15px;}
.pdt20{ padding-top:20px;}
.pdt25{ padding-top:25px;}
.pdt30{ padding-top:30px;}
.pdt35{ padding-top:35px;}
.pdt40{ padding-top:40px;}
.pdt45{ padding-top:45px;}
.pdt50{ padding-top:50px;}

.pdb1{ padding-bottom:1px;}
.pdb2{ padding-bottom:2px;}
.pdb3{ padding-bottom:3px;}
.pdb4{ padding-bottom:4px;}
.pdb5{ padding-bottom:5px;}
.pdb10{ padding-bottom:10px;}
.pdb15{ padding-bottom:15px;}
.pdb20{ padding-bottom:20px;}
.pdb25{ padding-bottom:25px;}
.pdb30{ padding-bottom:30px;}
.pdb35{ padding-bottom:35px;}
.pdb40{ padding-bottom:40px;}
.pdb45{ padding-bottom:45px;}
.pdb50{ padding-bottom:50px;}


.pdL0{ padding-left:0px;}
.pdL5{ padding-left:5px;}
.pdL10{ padding-left:10px;}
.pdL15{ padding-left:15px;}
.pdL20{ padding-left:20px;}
.pdL25{ padding-left:25px;}
.pdL30{ padding-left:30px;}
.pdL35{ padding-left:35px;}
.pdL40{ padding-left:40px;}
.pdL45{ padding-left:45px;}
.pdL50{ padding-left:50px;}

.pdr10{ padding-right:10px;}

.mgt-18{margin-top:-18px;}
.mgt-20{margin-top:-50px;}
.mgt2{ margin-top:2px;}
.mgt3{ margin-top:3px;}
.mgt4{ margin-top:4px;}
.mgt5{ margin-top:5px;}
.mgt10{ margin-top:10px;}
.mgt12{ margin-top:12px;}
.mgt15{ margin-top:15px;}
.mgt20{ margin-top:20px;}
.mgt25{ margin-top:25px;}
.mgt30{ margin-top:30px;}
.mgt35{ margin-top:35px;}
.mgt40{ margin-top:40px;}
.mgt45{ margin-top:45px;}
.mgt50{ margin-top:50px;}

.mgb2{ margin-bottom:2px;}
.mgb3{ margin-bottom:3px;}
.mgb4{ margin-bottom:4px;}
.mgb5{ margin-bottom:5px;}
.mgb10{ margin-bottom:10px;}
.mgb15{ margin-bottom:15px;}
.mgb20{ margin-bottom:20px;}
.mgb25{ margin-bottom:25px;}
.mgb30{ margin-bottom:30px;}
.mgb35{ margin-bottom:35px;}
.mgb40{ margin-bottom:40px;}
.mgb45{ margin-bottom:45px;}
.mgb50{ margin-bottom:50px;}

.mgl3{ margin-left:4px;}
.mgl5{ margin-left:5px;}
.mgl10{ margin-left:10px;}
.mgl15{ margin-left:15px;}
.mgl20{ margin-left:20px;}
.mgl25{ margin-left:25px;}
.mgl30{ margin-left:30px;}
.mgl35{ margin-left:35px;}
.mgl40{ margin-left:40px;}
.mgl45{ margin-left:45px;}
.mgl50{ margin-left:50px;}
.mgl55{ margin-left:55px;}
.mgl60{ margin-left:60px;}

.mgr2{ margin-right:2px;}
.mgr5{ margin-right:5px;}
.mgr10{ margin-right:10px;}
.mgr15{ margin-right:15px;}
.mgr20{ margin-right:20px;}
.mgr23{ margin-right:23px;}
.mgr25{ margin-right:25px;}
.mgr30{ margin-right:30px;}
.mgr35{ margin-right:35px;}
.mgr40{ margin-right:40px;}
.mgr45{ margin-right:45px;}
.mgr50{ margin-right:50px;}
.mgr55{ margin-right:55px;}
.mgr60{ margin-right:60px;}
.mgr65{ margin-right:65px;}
.mgr70{ margin-right:70px;}
.mgr75{ margin-right:75px;}
.mgr80{ margin-right:80px;}
.mgr85{ margin-right:85px;}
.mgr90{ margin-right:90px;}
.mgr95{ margin-right:95px;}
.mgr100{ margin-right:100px;}
.mgr105{ margin-right:105px;}
.mgr110{ margin-right:110px;}
.mgr115{ margin-right:115px;}
.mgr120{ margin-right:120px;}
.mgr125{ margin-right:125px;}
.mgr130{ margin-right:130px;}
.mgr135{ margin-right:135px;}
.mgr140{ margin-right:140px;}
.mgr145{ margin-right:145px;}
.mgr150{ margin-right:150px;}

.mgtb3 {margin:3px 0 3px 0;}

.txtR{text-align: right;}
.txtL{text-align: left;}
.txtC{text-align: center;}

.displayNone {display:none;}
.displayBlock {display: block;}

.Vt {vertical-align: top;}
.Vm {vertical-align: middle;}
.Vb {vertical-align: bottom;}

.FloatL {float:left;}
.FloatR {float:right;}

.bgNone{background:none;}
.LSpacing0{letter-spacing:0px;}

.F11 { font-size:0.94em;}
.fontN {font-weight:normal;}

.W783 { width:783px;}

.imgbox { text-align: center; width:100%; margin-bottom:20px;}

.btn_box {width:100%;}
.btn_box:after { content:""; clear:both; display:block; }
.btn_box .lefBox {	float:left;}
.btn_box .rigBox {	float:right;}

.labSty01 {
	display:inline-block;
	background:url(../../assets/img/common/bullet_dot_gray.gif) no-repeat left 4px;
	padding:0 5px 0 5px;
	font-weight:bold;
}

body.bgWhite { background:#fff;}

/*=================================================================================
 * Tab Style
 =================================================================================*/
.tabStyle01 {	position: relative;	width:100%; margin:0 0 10px 0;}
.tabStyle01:after { content:""; clear:both; display:block; }

.tabStyle01 li {	float:left;	margin:0 2px 0 0;}

.tabStyle01 li a {
	position: relative;
	display:inline-block;
	background:#656565;
	border:1px solid #555555;
	width:96px;
	height:20px;
	color:#fff !important;	
	padding:8px 0 0 0;
	text-decoration: none !important;
	font-weight:bold;
	text-align:center;
}

.tabStyle01 li.on a {
	background:#ff5400;
	border:1px solid #d43700;
	height:20px;
	color:#fff;	
	text-decoration: none;
}

.tabStyle02 {	position: relative;	width:100%; margin:0 0 10px 0;}
.tabStyle02:after { content:""; clear:both; display:block; }

.tabStyle02 li {	float:left;	margin:0 2px 0 0;}

.tabStyle02 li a {
	position: relative;
	display:inline-block;
	background:#656565;
	border:1px solid #555555;
	height:20px;
	color:#fff !important;	
	padding:8px 10px 0 10px;
	text-decoration: none !important;
	font-weight:bold;
	text-align:center;
}

.tabStyle02 li.on a {
	background:#ff5400;
	border:1px solid #d43700;
	height:20px;
	color:#fff;	
	text-decoration: none;
}

/*=================================================================================
 * 아이콘스타일
 =================================================================================*/

 /* Style01 */
.ico01, .ico01 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg05.gif) no-repeat right top;
}

.ico01 span, .ico01 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg05.gif) no-repeat left top;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	color:#fff !important; 
	padding: 4px 10px 0 10px;
}

 /* Style02 */
.ico02, .ico02 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg06.gif) no-repeat right top;
}

.ico02 span, .ico02 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg06.gif) no-repeat left top;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	color:#fff !important; 
	padding: 4px 10px 0 10px;
}

 /* Style03 */
.ico03, .ico03 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg05.gif) no-repeat right top;
}

.ico03 span, .ico03 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg05.gif) no-repeat left top;
	width:80px;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	color:#fff !important; 
	padding: 4px 0 0 0;
}

 /* Style04 */
.ico04, .ico04 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg06.gif) no-repeat right top;
}

.ico04 span, .ico04 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg06.gif) no-repeat left top;
	width:80px;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	color:#fff !important; 
	padding: 4px 0 0 0;
}

 /* Style05 */
.ico05, .ico05 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg05.gif) no-repeat right top;
}

.ico05 span, .ico05 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg05.gif) no-repeat left top;
	width:50px;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	color:#fff !important; 
	padding: 4px 0 0 0;
}

 /* Style06 */
.ico06, .ico06 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg06.gif) no-repeat right top;
}

.ico06 span, .ico06 span *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg06.gif) no-repeat left top;
	width:50px;
	height:18px;
	line-height:16px;
	font-size:11px;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	color:#fff !important; 
	padding: 4px 0 0 0;
}

/*=================================================================================
 * 버튼스타일
 =================================================================================*/
 /* Style01 */
.btn01 a, .btn01 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg01.gif) repeat-x left top;
	height:20px;
	font-size:12px;
	font-weight:bold;
	color:#fff !important; 
	text-decoration:none !important; 
	padding: 8px 10px 0 10px;
	border:1px solid #1164af;
}

 /* Style02 */
.btn02 a, .btn02 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg02.gif) repeat-x left top;
	height:20px;
	font-size:12px;
	font-weight:bold;
	color:#fff !important; 
	text-decoration:none !important; 
	padding: 8px 10px 0 10px;
	border:1px solid #555555;
}

 /* Style03 */
.btn03, .btn03 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg03.gif) no-repeat right top;
	height:21px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn03 a, .btn03 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg03.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#4b4b4b !important; 
	text-decoration:none !important; 
	padding: 4px 10px 0 10px;
}

 /* Style04 */
.btn04, .btn04 *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg04.gif) no-repeat right top;
	height:21px;
	font-size:12px;
	text-decoration:none !important;
	text-align:center;
	vertical-align: middle;
}

.btn04 a, .btn04 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg04.gif) no-repeat left top;
	height:16px;
	line-height:12px;
	font-size:12px;
	color:#4b4b4b !important; 
	text-decoration:none !important; 
	padding: 5px 10px 0 10px;
	vertical-align: top;
}

.btn04 a span, .btn04 a span *{
	width:auto;
	color:#ff5400 !important; 
	background:none;
	padding: 0 0 0 0; 
	height:0 !important; 
	vertical-align: top;
}

 /* Style05 */
.btn05, .btn05 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg05.gif) no-repeat right top;
	height:22px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn05 a, .btn05 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg05.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#fff !important;
	font-weight:bold;
	padding: 5px 10px 0 10px;
}

 /* Style06 */
.btn06, .btn06 *{
	display:inline-block;
	background: url(../../assets/img/bg/btn_bg06.gif) no-repeat right top;
	height:22px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn06 a, .btn06 a *{
	display:inline-block;
	background:url(../../assets/img/bg/btn_bg06.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#fff !important;
	font-weight:bold;
	padding: 5px 10px 0 10px;
}

