/*=================================================================================
 * Default Tag Style
 =================================================================================*/
* {
	border-collapse: collapse;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, sans-serif;
	font-size: 75%;
	color: #666666;
	line-height: 1.2;
	border-collapse: collapse;
	background:#292929;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}

ol, ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

div, li, dl, dt, dd, form, iframe, p, a, span, blockquote {
	margin: 0px;
	padding: 0px;
}

fieldset {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;		/* : BUG : Opera 7 에서 border: none 버그 있음 */
}

legend, hr {
	display: none;
}

label {
	vertical-align: middle;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: top;
}

table, th, td {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	border-collapse: collapse;
}

input, textarea {
	margin: 0px;
	padding: 0px;
	font-family: "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, sans-serif;
	font-size: 1em;
	color: #555555;
	border: 1px solid #dddddd;
	background: #FFF;
	vertical-align: middle;
}

input {
	padding-top: 2px;
	height: 16px;
}

textarea {
	padding: 4px 4px 4px 4px;
}

/*
input[type="image"], input[type="radio"], input[type="checkbox"] {
	padding: 0px;
	height: auto;
	border: none;
	background: none;
}
*/
input.image, input.radio, input.checkbox {		/* : FILTER : IE 6 에서 속성 선택자 지원 안함 */
	padding: 0px;
	height: auto;
	border: none;
	background: none;
}
input[type="radio"], input[type="checkbox"] {
	width: 19px;
}

/*
input[type="file"] {
	padding: 2px 0px 2px 0px;
	height: auto;
}
*/
input.file {		/* : FILTER : IE 6 에서 속성 선택자 지원 안함 */
	padding: 2px 0px 2px 0px;
	height: auto;
	/*background: #F1F1F1;*/
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: #FFFFCE;
}

select {
	margin: 0px;
	padding: 0px;
	height: 19px;
	font-family: "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, sans-serif;
	color: #555555;
	vertical-align: middle;
}

a:link, a:visited {
	font-size: 1em;
	color: #000;
	text-decoration: none;
}
a:hover, a:active {
	font-size: 1em;
	color: #000;
	text-decoration: underline;
}

/*=================================================================================
 * Default Common Style
 =================================================================================*/
.blind {
	position: absolute;
	left: -10000px;
	top: 0px;
}

/* Skip Navigation */
#skipNavigation {
	position: absolute;
	left: 50%;
	top: -9990px;
	margin-left: -82px;
	z-index:10000;
	background:blue;
}
#skipNavigation li a {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	padding: 5px 20px;
	border: 1px solid #cccccc;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	background: #fff;
}
#skipNavigation li a:hover,
#skipNavigation li a:active,
#skipNavigation li a:focus	 {
	position: absolute;
	left: 0px;
	top: 10000px;
	border: 2px solid #1d147b;
	color: #1d147b;
	font-weight: bold;
}