/*=================================================================================
 * Pop-up LY
 =================================================================================*/
.LY-Pop {
	position: relative;
	width:100%;
	background:#fff url(../../assets/img/bg/pop_bg.gif) repeat-x left top;
	z-index:100;
}

.Pop-Title{
	height:40px;
	background: url(../../assets/img/bg/pop_title_bg.gif) no-repeat left top;
	padding:12px 0 0 30px;
	font-size:1.34em;
}

.Pop-Title h2 {
	color:#fff;
	font-size:1.17em;
	letter-spacing:-0.03em;
	padding:0 0 0 20px;
}

.Pop-Content {
	border-right:5px solid #0a4178;
	border-bottom:5px solid #0a4178;
	border-left:5px solid #0a4178;	
	padding:16px 15px 16px 15px;
	position: relative;
}

.Pop-Content h3 {
	color:#fff;
	height:20px;
	letter-spacing:-0.03em;
	padding:10px 0 0 0;
	background:#84a1bc;
	text-align:center;
	margin:-20px 0 0 0;
	border-top:1px solid #5d7591;
}

.Pop-Content:after { content:""; clear:both; display:block; }

.Pop-close {
	position: absolute;
	right: 0px;
	top: 0px;
}

.TableBox {	width:100%;}
.TableBox:after { content:""; clear:both; display:block; }

/*=================================================================================
 * ∏Ì∫Œ√‚∑¬
 =================================================================================*/
#List-output {
	width:635px;
	height:1000px;
	padding:0 10px;
	margin:0 auto;
	color:#000;
}

#List-output h1 {
	width:100%;
	padding:80px 0 0 0;
	margin:0 0 50px 0;
	font-family: πŸ≈¡, µ∏øÚ, ±º∏≤, seoul, arial, verdana;
	font-size:30px;
	color:#000;
	text-align:center;
}

#List-output h2 {
	padding:10px 0 10px 20px;
	margin:0 0 43px 0;
	font-family: πŸ≈¡, µ∏øÚ, ±º∏≤, seoul, arial, verdana;
	font-size:20px;
	background:#eeeeee;
	color:#000;
	border:1px solid #444444;
}

#List-output .list {	width:100%; margin:0 0 33px 0;}
#List-output .list:after { content:""; clear:both; display:block; }
#List-output .list li {	width:158px;	margin:0 0 10px 0;	float:left;}
#List-output .list dl {	position: relative;	width:80px;	height:89px;	border:1px solid #444444;	padding:0 0 0 73px;	margin:0 auto;}
#List-output .list dt {	height:21px;	padding:8px 0 0 5px;}
#List-output .list dd {	height:21px;	border-top:1px solid #444444;	padding:8px 0 0 5px;}
#List-output .list dl dd.photo {
	width:60px;
	height:77px;
	background:#fff;
	border-right:1px solid #444444;
	border-top:none;
	padding:6px;
	position: absolute;
	left:0px;
	top:0px;
}

#List-output .list dd.photo div {	width:60px;	height:77px;	background:#eeeeee;}
#List-output .list dd.photo div img {	width:100%;	}

#List-output .bottom {	padding:49px 0 0 0;	border-top:1px solid #444444;}
#List-output .bottom:after { content:""; clear:both; display:block; }

#List-output .bottom .lefBox {	width:198px;	border:1px solid #444444;	float:left;}
#List-output .bottom .all, #List-output .bottom .take, #List-output .bottom .absent  {	position: relative;	height:20px;	padding:9px 0 0 5px;}
#List-output .bottom .all {	width:193px;	border-bottom:1px solid #444444;}
#List-output .bottom .take {	width:94px;	float:left;	border-right:1px solid #444444;}
#List-output .bottom .absent {	width:93px;	float:left;	padding:9px 0 0 5px;}
#List-output .bottom .lefBox span {	position: absolute;	right:5px;	top:9px;}

#List-output .bottom .rigBox {		position: relative;	width:168px;	height:50px;	border:1px solid #444444;	float:right;	padding:9px 0 0 10px;}
#List-output .bottom .rigBox span {	position: absolute;	right:10px;	bottom:9px;}


/*=================================================================================
 * ∏Ì¬˚√‚∑¬
 =================================================================================*/
#Name-tag {
	width:635px;
	height:980px;
	padding:10px 10px;
	margin:0 auto;
	color:#000;
}

#Name-tag .list {	width:100%; margin:0 0 0 0;}
#Name-tag .list:after { content:""; clear:both; display:block; }
#Name-tag .list li {	width:317px;	margin:32px 0 12px 0;	float:left;}

#Name-tag .list dl {
	position: relative;	
	width:194px;
	height:218px;	
	border:1px solid #444444;	
	padding:0 0 0 114px;	
	margin:0 auto;
}

#Name-tag .list dt {	
	height:32px;	
	padding:14px 0 0 5px;
	font-size:14px;
	font-weight:bold;
}

#Name-tag .list dd {	
	height:32px;	
	border-top:1px solid #444444;	
	padding:14px 0 0 5px;
	font-size:14px;
	font-weight:bold;
}

#Name-tag .list dl dd.photo {
	width:93px;
	height:120px;
	background:#fff;
	border-right:1px solid #444444;
	border-top:none;
	padding:10px;
	position: absolute;
	left:0px;
	top:0px;
}

#Name-tag .list dd.photo div { width:93px;	height:120px; background:#eeeeee;}
#Name-tag .list dd.photo div img {	width:100%;	}

#Name-tag .list dl dd.logo {
	width:308px;
	height:77px;
	border-top:1px solid #444444;
	padding:0;
	position: absolute;
	left:0px;
	bottom:0px;
	text-align:center;
	vertical-align:middle;
}

/*=================================================================================
 * ¡¬ºÆπËƒ°µµ
 =================================================================================*/
 #Seating-Chart {
	width:635px;
	height:1000px;
	padding:0 10px;
	margin:0 auto;
	color:#000;
	text-align:center;
}

#Seating-Chart h1 {
	width:100%;
	padding:80px 0 0 0;
	margin:0 0 50px 0;
	font-family: πŸ≈¡, µ∏øÚ, ±º∏≤, seoul, arial, verdana;
	font-size:30px;
	color:#000;
	text-align:center;
}

.lectern {
	width:233px;
	height:52px;
	background:#eeeeee;
	border:1px solid #444444;
	margin:0 auto;
	font-family: πŸ≈¡, µ∏øÚ, ±º∏≤, seoul, arial, verdana;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:26px 0 0 0;
}

#Seat-box { 
	width:100%;
	text-align:center;	
	font-size:0;
	line-height:0;
	margin:30px 0 0 0;
}

#Seat-box ul {
	width:95px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	margin:0 10px;
	vertical-align: top;
	overflow:hidden;
}

#Seat-box ul li {	
	width:93px;
	height:52px;
	font-size:12px;
	line-height:1.2;
	margin:5px 0;
	border:1px solid #444444;
	padding:16px 0 0 0;
	float:left;
}

#Seat-box ul li p {	
	margin:0 0 10px 0;
}




#Seat-box2 { 
	width:100%;
	text-align:center;	
	font-size:0;
	line-height:0;
	margin:30px 0 0 0;
}

#Seat-box2 ul {
	width:100px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	margin:0 2px;
	vertical-align: top;
	overflow:hidden;
}

#Seat-box2 ul li {	
	width:93px;
	height:12px;
	font-size:12px;
	line-height:1.2;
	margin:1px 0;
	border:0px solid #444444;
	padding:5px 0 0 0;
	float:left;
}

#Seat-box2 ul li p {	
	margin:0 0 5px 0;
}





#Seat-box3 { 
	width:100%;
	text-align:left;	
	font-size:0;
	line-height:0;
	margin:30px 0 0 0;
}

#Seat-box3 ul {
	width:142px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	margin:0 2px;
	vertical-align: top;
	overflow:hidden;
}

#Seat-box3 ul li {	
	width:140px;
	height:75px;
	font-size:12px;
	line-height:1.2;
	margin:1px 0;
	border:1px solid #444444;
	padding:5px 0 0 0;
	float:left;
}

#Seat-box3 ul li p {	
	margin:0 5px 5px 0;
}

#Seat-box3 span {
	float:left;
}

#Seat-box3 img {
	width:60px;
	height:70px;
	margin:0 0 0 5px;
}