/*=================================================================================
 * Default Layout Definition
=================================================================================*/
#Wrapper {	position: relative;	width: 100%;}
#Header {position: relative; width: 900px;	height: 100px;	margin:0 auto;}

#Section {	position: relative;	width: 900px;	margin:0 auto; padding:0 0 25px 0;}
#Section:after {	content: "";	clear: both;	display: block;}
#AsideLeft {	position: relative;	width: 150px;	float:left;}
#Article {	position: relative;	width: 700px;	float:right;	}
#Footer {	position: relative; width: 900px;	margin:0 auto; border-top:1px solid #e4e4e4;}

/*=================================================================================
 * Header Layout Definition
=================================================================================*/
#Hgroup {	position: absolute;	left: 0;	top: 21px;}

/* Top Navi */
#Tm-nav {width:100%; padding:46px 0 0 0;}
#Tm-nav:after {	content: "";	clear: both;	display: block;}
#Tm-nav ul {float:right;}
#Tm-nav ul li {position: relative; float:left; margin:0 10px 0 10px;}

/*=================================================================================
 * Bottom Layout Definition
 =================================================================================*/
#Fgroup {	position: relative;	width:890px;	height:55px;	margin:0 auto; padding:25px 0 0 10px;}
#Fgroup .logo {	position: absolute;	right:10px;	top:20px;}

#Fgroup .util{	width:100%; margin:0 0 10px 0;}
#Fgroup .util:after {	content: "";	clear: both;	display: block;}
#Fgroup .util li {	float:left; margin:0 10px 0 0; line-height:0px;	font-size:0;}
#Fgroup .info{ width:100%;}

/*=================================================================================
 * Article Layout Definition
 =================================================================================*/
#Title-box {		position: relative;	width: 100%;		height: 30px;		margin: 0 0 20px 0; padding:31px 0 0 0;}
#Title-box p {	position: absolute; right:0;	top:10px; color: #999999;	background:url(/assets/front/design2/img/common/ico_home.gif) no-repeat left 5px;		padding:0 0 0 10px;}
#Title-box p span {		font-weight:bold;	color: #666666;}

#Title-box .snavi {	position: absolute; right:0;	top:-225px; color: #999999;	background:url(/assets/front/design2/img/common/ico_home.gif) no-repeat left 5px;		padding:0 0 0 10px;}
#Title-box .snavi span {		font-weight:bold;	color: #666666;}

#Content-box {	position: relative;	width:700px;	min-height:450px;}
* html #Content-box {	height:450px; /* : FILTER : IE 6 */}

/*=================================================================================
 * Main Layout Definition
 =================================================================================*/
#Main-Section {	position: relative;	width: 900px;	margin:0 auto; padding:0 0 25px 0;}
#Main-Section:after {	content: "";	clear: both;	display: block;}

#Main-Quick { width:100%; margin:20px 0 0 0;}
#Main-Quick:after {	content: "";	clear: both;	display: block;}
#Main-Quick ul { padding:0 0 0 6px;}
#Main-Quick li { float:left; padding:0 8px 0 8px;}