@charset "euc-kr";
/*=================================================================================
 * Content Text Style
 =================================================================================*/
.h3-tit-box {position:relative; width:100%; margin:0 0 10px 0;}
.h3-tit-box:after {	content: "";	clear: both;	display: block;}

.h3-tit-box h3 {float:left; background:url(/assets/front/design1/img/board/h2_bullet.gif) no-repeat left 50%;padding:0 10px 0 18px;font-size:14px;color:#000; }

.h3-tit-box span {font-size:11px;color:#7c7c7c;letter-spacing:-1px;background:url(/assets/front/design1/img/board/line.gif) no-repeat left 6px;display:inline-block;padding:3px 0 0 10px;}
.h3-tit-box .btn {position: absolute;	right: 0px;	top:0px;}

.h3blt {	position: relative;	color:#000;	padding-left:15px;	margin-bottom:5px;	background:url(/assets/front/design1/img/board/h2_bullet.gif) no-repeat left 50%; font-size:1.17em;}
.h4blt {	position: relative;	color:#000;	padding-left:12px;	margin-bottom:5px;	background:url(/assets/front/design1/img/board/h4_bullet.gif) no-repeat left 3px; font-size:1em;}

.listStyle01 {	margin-bottom:0px;}
.listStyle01 li {	position: relative;	background:url(/assets/front/design1/img/board/bullet01.gif) no-repeat 0 5px;	padding: 0 0 0 7px;	margin:0 0 5px 0;}

/*=================================================================================
 * Table Style
 =================================================================================*/
.TbStyle01 {position:relative;	width:100%;	table-layout: fixed; border-top:1px solid #a2a2a2;}
.TbStyle01 caption {	display:none;}
.TbStyle01 thead tr th {	color:#666666;	padding:7px 0 4px 0;	border-bottom:1px solid #e3e3e3; border-right:1px solid #e3e3e3;	text-align:center; letter-spacing:-1px; background:#f1f1f1;}
.TbStyle01 thead tr th.first {	border:none;}
.TbStyle01 tbody tr th {color:#666666;	padding:7px 0 4px 0;	border-bottom:1px solid #e3e3e3; border-right:1px solid #e3e3e3;	text-align:center; letter-spacing:-1px; background:#f1f1f1;}
.TbStyle01 tbody tr th.left {text-align:left;padding-left:10px;padding-right:10px;}
.TbStyle01 tbody tr th.th-list {text-align:left;vertical-align:top;padding:10px 0 10px 10px;}
.TbStyle01 p.check-box {float:right;padding:0 10px 0 10px;}
.TbStyle01 tbody tr td {	padding:7px 0 7px 10px;	border-bottom:1px solid #e3e3e3;}
.TbStyle01 tbody tr td img {	vertical-align: middle;}
.TbStyle01 tbody tr td.center {	text-align:center; padding:7px 0 7px 0;}
.TbStyle01 tbody tr td.right {	text-align:right;background:#e8f4e2;}
.TbStyle01 tbody tr td .b_input {	border:1px solid #dcdcdc;padding:0px;}
.TbStyle01 tbody tr td .space {padding:0 8px 0 8px;}
.TbStyle01 tbody tr td.Lline {border-left:1px solid #e3e3e3;}
.TbStyle01 tbody tr td.title { color:#666666; background:#f1f1f1; font-weight:bold;}
.TbStyle01 tbody tr td.pic {vertical-align:top;}
.TbStyle01 tbody tr td.pic .pic-box p {text-align:center;padding:15px 0 0 0;}
.TbStyle01 .txt-box {padding:10px 0 10px 10px;}
.TbStyle01 .txt-box ul {overflow:hidden;width:100%;}
.TbStyle01 .txt-box ul li {float:left;padding:0 10px 10px 0;}
.TbStyle01 .FL-list {}
.TbStyle01 .FL-list li {float:left;width:300px;padding:0 0 5px 0;}
.TbStyle01 .FL-list li.first {width:210px;}
.TbStyle01 .FL-list li label {width:103px;display:inline-block;background:url(/assets/front/design1/img/board/bullet01.gif) no-repeat left 6px;padding:0 0 0 4px;}
.TbStyle01 .FL-list li.first label {width:75px;}

.TbStyle02 {	position:relative;	width:100%;	table-layout: fixed; border-top:1px solid #a2a2a2;}
.TbStyle02 caption {	display:none;}
.TbStyle02 thead tr th {	color:#666666;	padding:7px 0 4px 0;	border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;	text-align:center; letter-spacing:-1px; background:#f1f1f1;}
.TbStyle02 thead tr th.first, .TbStyle02 tbody tr td.first {	border-left:none;}
.TbStyle02 tbody tr th {	color:#666666;	padding:7px 0 4px 0;	border-bottom:1px solid #e3e3e3; border-right:1px solid #e3e3e3;	text-align:center; letter-spacing:-1px; background:#f1f1f1;}
.TbStyle02 tbody tr td {	padding:7px 0 7px 10px;	border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.TbStyle02 tbody tr td img {	vertical-align: middle;}
.TbStyle02 tbody tr td.center {	text-align:center; padding:7px 0 7px 0;}
.TbStyle02 tbody tr td.vtop {	vertical-align: top;}
.TbStyle02 tbody tr.center td {	text-align:center; padding:7px 0 7px 0;}

/*=================================================================================
 * 접수완료
=================================================================================*/
#AppComplet {	width:698px;	background:#eff7fa;	border:1px solid #daebf0;	text-align:center;	}
#AppComplet p {	margin: 20px 0 20px 0;	color:#000;}

/*=================================================================================
 * 개인정보보호방침
 =================================================================================*/
.BoxStyle01 {
	position: relative;
	border:1px solid #e4e4e4;
	padding:8px;
	background:#ededed;
}

.BoxStyle01 .inbox {
	position: relative;
	padding:20px;
	border:1px solid #e4e4e4;
	background:#fff;
}

.complet-box01 {
	position: relative;
	border:1px solid #e4e4e4;
	background:#f8f8f8 url(/assets/front/design1/img/board/complet_img01.gif) no-repeat 20px 25px;
	padding:30px 60px 30px 160px;
	margin:0 0 30px 0;
	min-height:105px;
}

* html .complet-box01 {	height:105px; /* : FILTER : IE 6 */}

.complet-box02 {
	position: relative;
	border:1px solid #e4e4e4;
	/* background:#f8f8f8 url(/assets/front/design1/img/board/complet_img02.gif) no-repeat 20px 25px; */
	/* padding:30px 60px 30px 160px; */
	padding:5px 5px 5px 5px;
	margin:0 0 30px 0;
	min-height:105px;
}

* html .complet-box02 {	height:105px; /* : FILTER : IE 6 */}