/*=================================================================================
 * 버튼스타일
 =================================================================================*/
 /* Style01 */
.btn01 a, .btn01 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg01.gif) repeat-x left top;
	height:20px;
	font-size:12px;
	font-weight:bold;
	color:#fff !important; 
	text-decoration:none !important; 
	padding: 8px 10px 0 10px;
	border:1px solid #1164af;
}

 /* Style02 */
.btn02 a, .btn02 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg02.gif) repeat-x left top;
	height:20px;
	font-size:12px;
	font-weight:bold;
	color:#fff !important; 
	text-decoration:none !important; 
	padding: 8px 10px 0 10px;
	border:1px solid #555555;
}

 /* Style03 */
.btn03, .btn03 *{
	display:inline-block;
	background: url(/assets/img/bg/btn_bg03.gif) no-repeat right top;
	height:21px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn03 a, .btn03 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg03.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#4b4b4b !important; 
	text-decoration:none !important; 
	padding: 4px 10px 0 10px;
}

 /* Style04 */
.btn04, .btn04 *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg04.gif) no-repeat right top;
	height:21px;
	font-size:12px;
	text-decoration:none !important;
	text-align:center;
	vertical-align: middle;
}

.btn04 a, .btn04 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg04.gif) no-repeat left top;
	height:16px;
	line-height:12px;
	font-size:12px;
	color:#4b4b4b !important; 
	text-decoration:none !important; 
	padding: 5px 10px 0 10px;
	vertical-align: top;
}

.btn04 a span, .btn04 a span *{
	width:auto;
	color:#ff5400 !important; 
	background:none;
	padding: 0 0 0 0; 
	height:0 !important; 
	vertical-align: top;
}

 /* Style05 */
.btn05, .btn05 *{
	display:inline-block;
	background: url(/assets/img/bg/btn_bg05.gif) no-repeat right top;
	height:22px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn05 a, .btn05 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg05.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#fff !important;
	font-weight:bold;
	padding: 5px 10px 0 10px;
}

 /* Style06 */
.btn06, .btn06 *{
	display:inline-block;
	background: url(/assets/img/bg/btn_bg06.gif) no-repeat right top;
	height:22px;
	font-size:12px;
	text-decoration:none !important; 
}

.btn06 a, .btn06 a *{
	display:inline-block;
	background:url(/assets/img/bg/btn_bg06.gif) no-repeat left top;
	height:17px;
	font-size:12px;
	color:#fff !important;
	font-weight:bold;
	padding: 5px 10px 0 10px;
}